
.championContainer {
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    scale: 0.95;
}

.championContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.championDetailContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.championListTitle {
    position: relative;
}

.championBlock {
    overflow: hidden;
}

.champion {
    padding: 2px;
    background-color: black;
}

.champion a img {
    width: 80px;
}

.champion:hover {
    scale: 1.05;
}

.championImg {
    scale: 0.85;
    border-radius: 10px;
    transform: translateX(-30%);
}

.championText {
    width: 100%;
    font-size: 0.8em;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.championSplash {
    background-repeat: no-repeat;
    background-size: cover;
}

.championSplashBlur {
    backdrop-filter: blur(20px);
    direction: rtl;
}



.searchContainer {
    display: flex;
    align-items: center;
    margin-top: 5em;
    height: 50px;
    padding: 10px;
    padding-inline: 30px;
    gap: 20px;
    box-shadow: -1px -1px 5px -2px #acacac;
}

.searchContainer div {
    width: 50%;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid silver;
}

.searchInput {
    width: 80%;
    height: 100%;
    padding: 10px;
    font-size: 1em;
    outline: none;
    border: none;
}

.searchIcon {
    margin-right: 20px;
}