
.rotation {
    box-shadow: 0px 8px 6px -6px #666;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    border-radius: 0px 0px 30px 30px;
}

.rotationContainer {
    height: 100%;
    text-align: center;
}

.rotationContainer::-webkit-scrollbar {
    display: none;
}

.rotationContents {
    scale: 0.9;
    gap: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.rotationTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

.rotationImg {
    width: 85px;
    -webkit-user-drag: none;
}